* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.field {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.leftField {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.rightField {
  width: 50%;
  height: 100%;
  position: relative;
  top: -100%;
  left: 50%;
  z-index: 10;
}
