* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

.field {
  width: 480px;
  height: 320px;
  position: absolute;
  top: 0;
  left: calc((100% - 480px) / 2);
}

.leftField {
  width: 240px;
  height: 320px;
  position: relative;
  z-index: 10;
}

.rightField {
  width: 240px;
  height: 320px;
  position: relative;
  top: -320px;
  left: 240px;
  z-index: 10;
}
